/*Let's make sure that the dimensions of any box includes its border and padding, this gives us an easy way of sizing our elements*/
* {
    box-sizing: border-box;
}

body{
    margin: 0; 
    background-color:aliceblue;  
}

.container::after {
  content: "";
  width: 860px;
}
/*convert the container to a flexbox, add spacing and aligment*/
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    max-width: 1500px;
    margin: 0 auto;
    gap: 16px;
}

/* size images and fit to space */
.container img{
    width: 100%;
    max-width: 350px;
    object-fit: cover;
    border-radius: 10px;
}
